// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.away{
  margin-top: 3%;
}

#whole{
  padding-left: 15%;
}

#away{
  margin-top: 5%;
}

#new_course{
  color: white;
}

#delete_course{
  color: white;
}

.links{
  margin-left: 30%;
}

.cus{
  margin-top: 5%;
  margin-left: 30%;
}

h5{
  margin-left: 15%;
}
